@import "tailwindcss";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: all ease-in-out 0.2s;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom right, #000000 40%, #000000); */
  background: rgb(16, 16, 16);
  min-height: 100vh;
  background-size: cover;
}

button {
  cursor: pointer;
}
.jakartha {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.adjustCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gradientButton {
  background: linear-gradient(to right, #b800c6, #ff00ff);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.gradient-btn {
  color: black;
  font-weight: 900;
  background: white;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.gradient-btn:hover {
  color:white;
  font-weight: 900;
  font:bolder;
  background: linear-gradient(
    to right,
    #ff4800,
    #ff733c
  ); /* Bright Cyan Gradient */
  border: solid 2px white;
}
.muzoxPurple:hover {
  color: #a159e4;
}

.hiddenScroll {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hiddenScroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* text */

.heading {
  @apply text-4xl;
}

.subheading {
  @apply text-2xl;
}

.baseText {
  @apply text-base;
}

.smallText {
  @apply text-sm;
}

.extraLargeText {
  @apply text-6xl;
}

/* colors */
.muzoxSubText {
  color: #9c9c9c;
}

.muzoxPurpleColor {
  color: #a159e4;
}

.muzoxPinkColor {
  color: #ff00ff;
}

.muzoxPanelBg {
  background-color: #121212;
}

.muzoxBg {
  background-color: #191919;
}

.muzoxLightBg {
  background-color: #2b2b2b;
}

.muzoxSubBg {
  background-color: #252525;
}

.muzoxSubBgHover:hover {
  background-color: #303030;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #fe774157;
}

::-webkit-scrollbar-thumb:hover {
  background: #fe774190;
}
.no-copy {
  user-select: none; /* Disables text selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Older Edge */
}


/* Epic css shit */

/* Define your container as a query container */
.container {
  container-type: inline-size; /* enables container queries for horizontal sizing */
  container-name: myContainer;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Default text style */
.responsive-text {
  font-size: 20px;
  transition: font-size 0.2s ease, opacity 0.2s ease;
  opacity: 1;
}

/* When container is less than 300px wide, shrink the text */
@container myContainer (max-width: 100px) {
  .responsive-text {
    font-size: 16px;
  }
}

/* When container is less than 200px wide, hide the text */
@container myContainer (max-width: 50px) {
  .responsive-text {
    opacity: 0; /* Or use display: none; if you want it removed from layout */
  }
}